#content_profil ion-grid ion-text.nom-profil {
    text-align: center;
    display: block;
    margin-top: 5px;
    font-size: 12px;
}
.picto_modif_profil {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.picto_modif_profil2 {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}
.picto_modif_profil3 {
    width: 15px;
    height: 15px;
    position:absolute;
    right: 10px;
}
.button-modif {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
}
.list_params_profil {
    background-color: #222428;
}
.list_params_profil ion-item ion-label {
    color: white;
}
.button_list {
    padding: 10px;
}