<ion-content color="netflix-dark" id="content_profil">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/img/profil1.png"></ion-img>
        <ion-text class="nom-profil">Amélie</ion-text>
      </ion-col>
      <ion-col>
        <ion-img src="../../assets/img/profil2.png"></ion-img>
        <ion-text class="nom-profil">Gaëlle</ion-text>
      </ion-col>
      <ion-col>
        <ion-img src="../../assets/img/profil3.png"></ion-img>
        <ion-text class="nom-profil">Oriane</ion-text>
      </ion-col>
      <ion-col>
        <ion-img src="../../assets/img/profil4.png"></ion-img>
        <ion-text class="nom-profil">Alain</ion-text>
      </ion-col>
    </ion-row>
    <ion-button expend="full" color="netflix-dark" (click)="openGererProfil()" class="button-modif"><ion-img class="picto_modif_profil" src="../../assets/img/edit.png"></ion-img>Gérer les profils</ion-button>
  </ion-grid>

  <ion-buttons expend="full" id="button_ma_list" class="button_list">
    <ion-img class="picto_modif_profil2" src="../../assets/img/tick.png"></ion-img>Ma Liste<ion-img class="picto_modif_profil3" src="../../assets/img/right.png"></ion-img>
  </ion-buttons>
  
  <!-- faire une ligne pour la liste de films -->

  <ion-list class="list_params_profil">
      <ion-item color="dark">
        <ion-label (click)="openParametres()">Paramètres de l'application</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label>Compte</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label (click)="openAide()">Aide</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label>Déconnexion</ion-label>
      </ion-item>
  </ion-list>
</ion-content>
