<ion-header>
  <ion-toolbar color="netflix-dark">
    <ion-searchbar value="Recherchez une série, un film ..." color="dark"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="netflix-dark">
  <ion-title class="ion-padding">Les plus recherchés</ion-title>
  <ion-list id="liste_recherche" class="ion-no-padding">
    <ion-item color="dark">
      <ion-img class="img_list_recherche" src="../../assets/img/Sex-education.jpg"></ion-img>
      <ion-label class="ion-padding-start">Sex Education</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-img class="img_list_recherche" src="../../assets/img/Vikings.jpg"></ion-img>
      <ion-label class="ion-padding-start">Vikings</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-img class="img_list_recherche" src="../../assets/img/la_casa_de_papel.jpg"></ion-img>
      <ion-label class="ion-padding-start">La casa de papel</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-img class="img_list_recherche" src="../../assets/img/lucifer.jpg"></ion-img>
      <ion-label class="ion-padding-start">Lucifer</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-img class="img_list_recherche" src="../../assets/img/lockekey.jpg"></ion-img>
      <ion-label class="ion-padding-start">Locke & Key</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-img class="img_list_recherche" src="../../assets/img/black-mirror.jpg"></ion-img>
      <ion-label class="ion-padding-start">Black Mirror</ion-label>
    </ion-item>
    <ion-item color="dark">
      <ion-img class="img_list_recherche" src="../../assets/img/alvin.jpg"></ion-img>
      <ion-label class="ion-padding-start">Alvin et les Chipmunks :<br/>A fond la forme</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

