<ion-header>
  <ion-toolbar color="netflix-dark">
    <ion-title text-left color="netflix-red">
      DuckFlix
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="tv"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img class="img-intro" src="../../assets/img/bright-netflix.jpg">
    <ion-button class="bouton-intro" expand="full" color="netflix-dark">Regarder maintenant</ion-button>

    <p class="box-title">Ma liste</p>
    <div class="scroll-box">
      <div class="movie">
        <img src="../../assets/img/atous_garcons.png">
      </div>
      <div class="movie">
        <img src="../../assets/img//avengers3.jpg">
      </div>
      <div class="movie">
        <img src="../../assets/img/Chappie.jpg">
      </div>
      <div class="movie">
        <img src="../../assets/img/civilWar.jpg">
      </div>
      <div class="movie">
        <img src="../../assets/img/coco.jpg">
      </div>
      <div class="movie">
        <img src="../../assets/img//fast_and_furious.jpg">
      </div>
      <div class="movie">
        <img src="../../assets/img/piratesCaraibes.jpg">
      </div>
    </div>

    <p class="box-title">Les plus gros succès de Netflix</p>
    <div class="scroll-box">
        <div class="movie">
          <img src="../../assets/img/avengers3.jpg">
        </div>
        <div class="movie">
          <img src="../../assets/img/coco.jpg">
        </div>
        <div class="movie">
          <img src="../../assets/img/narcos.png">
        </div>
        <div class="movie">
          <img src="../../assets/img/stuart_little.jpg">
        </div>
        <div class="movie">
          <img src="../../assets/img/PulpFiction.jpg">
        </div>
        <div class="movie">
          <img src="../../assets/img/fast_and_furious.jpg">
        </div>
        <div class="movie">
          <img src="../../assets/img/civilWar.jpg">
        </div>
      </div>

</ion-content>
