ion-col{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    ion-row{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        ion-button{
            margin-top: 35px;
        }
        ion-img{
            width: 50%;
            margin:auto;
        }
    }
}

