#header_params ion-title {
    text-align: center;
}
.ion-text-small {
    font-size: 12px;
}
.padding_ion_icon {
    margin-right: 30px;
}
#content_params ion-list {
    background: black;
}
#content_params ion-list-header {
    color: white;
    font-size: 16px;
}