<ion-header>
  <ion-toolbar color="netflix-dark">
    <ion-buttons slot="start" class="button-fermer-modal">
      <ion-button (click)="fermerModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="netflix-dark">
  <ion-img class="img_infos_film"  src="../../assets/img/{{movie.image}}"></ion-img>
  <ion-grid>
    <ion-row class="row1">
      <ion-col size="4">
        <ion-text class="text_reco text_row_1">Recommandé à 98%</ion-text>
      </ion-col>
      <ion-col size="1" color="danger">
        <ion-text class="text_row_1">{{movie.annee}}</ion-text>
      </ion-col>
      <ion-col size="1" color="warning">
        <ion-text class="text_row_1 col_age">16+</ion-text>
      </ion-col>
      <ion-col size="2" color="danger">
        <ion-text class="text_row_1">{{movie.duree}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="btn_row2" expand="full" color="light">
          <ion-icon name="play" slot="start"></ion-icon>
          <ion-text>Lecture</ion-text>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="btn_row2" expand="full" color="medium">
          <ion-icon name="download" slot="start"></ion-icon>
          <ion-text>Télécharger</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-text class="mb-2">
    {{movie.desc}}
    </ion-text><br />
    <ion-text class="mb-2">
      <b>Avec :</b> {{movie.acteurs}}
    </ion-text>
    <ion-text class="mb-2">
      <b>Réalisateur : </b>{{movie.real}}
    </ion-text><br />

    <ion-row id="row3">
      <ion-col size="2">
        <ion-icon *ngIf="isInList" name="checkmark-outline"></ion-icon>
        <ion-icon *ngIf="!isInList" name="add"></ion-icon>
        <ion-text>Ma liste</ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="thumbs-up"></ion-icon>
        <ion-text>Evaluer</ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="share-social"></ion-icon>
        <ion-text>Partager</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
