.title_page {
    text-align: center;
    margin: 20px 0 10px 0;
}
.title_page h1 {
    font-size: 20px;
    margin: 0 20px 20px 20px;
}
.text_page {
    text-align: center;
    display: block;
    font-size: 14px;
    margin: 0 25px;
}
.list_aide ion-item {
    font-size: 14px;
    color: #3880ff;
}
.list_aide ion-icon {
    color: #3880ff;
    margin-right: 10px;
}
.btn_appeler {
    color: white;
}
.btn_appeler ion-icon {
    margin-right: 10px;
}
.container_btn {
    text-align: center;
    margin-top: 15px;
}